# Git files
.git/
.gitignore

# Docker files
.env

# Node.js
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Build artifacts
deploy.json

# IDE / Editor specific
.vscode/
.idea/
